python-dotenv
requests
torch
langchain
langchain-core
langchain-community
langchain-classic
langchain-huggingface
langchain-ollama
langchain-qdrant
langchain-text-splitters
qdrant-client
pdfplumber
pypdf
pymupdf
rapidocr-onnxruntime
sentence-transformers
duckduckgo-search
ddgs
pydantic
fastapi
uvicorn
python-multipart
mcp
